/* Overall container for the admin page */
.AdministratorMain-admin-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar styling */
.AdministratorMain-sidebar {
  background-color: #232323;
  color: white;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.AdministratorMain-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.AdministratorMain-menu {
  flex-grow: 1;
}

.AdministratorMain-menu button, .AdministratorMain-footer-menu button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.AdministratorMain-menu button:hover, .AdministratorMain-footer-menu button:hover {
  background-color: #ff6b35;
}

.AdministratorMain-menu button.active {
  background-color: #ff6b35;
}

.AdministratorMain-footer-menu {
  padding-top: 20px;
}

.AdministratorMain-footer-menu button {
  font-size: 16px;
  margin-top: 20px;
}

/* Main content styling */
.AdministratorMain-main-content {
  margin-left: 300px; /* Account for the fixed sidebar */
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: auto;
}

/* Header styling */
.AdministratorMain-admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
}

.AdministratorMain-admin-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.AdministratorMain-datetime {
  font-size: 14px;
  text-align: right;
}

.AdministratorMain-datetime p {
  margin: 0;
  color: #777;
}

/* Styling for buttons in the sidebar */
.AdministratorMain-menu button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
}

.AdministratorMain-menu button:hover {
  background-color: #3a3a3a;
}

.AdministratorMain-menu button.active {
  background-color: #ff6b35;
}

/* Style the buttons for Help Center, Settings, and Sign Out in the footer */
.AdministratorMain-footer-menu {
  margin-top: auto;
}

.AdministratorMain-footer-menu button {
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 0;
}

.AdministratorMain-footer-menu button:hover {
  color: #ff6b35;
  background-color: transparent;
}

/* Scrollbar styling for main content */
.AdministratorMain-main-content::-webkit-scrollbar {
  width: 8px;
}

.AdministratorMain-main-content::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 8px;
}

.AdministratorMain-main-content::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
